
{% load crispy_forms_tags %}
{% block content %}
    <h1>{{ user.username }}</h1>
    <p>{{ user.first_name }}</p>
    <p>{{ user.email }}</p>
 <p>{{ user.language_preference }}</p>
 <p>{{ user.age_range }}</p>
<p>Friends List</p>
{% for friend in friends %}
    <a href="{% url 'profile_with_pk' pk=friend.pk %}">
        <p>{{ friend.username }}</p>
        <form action="{% url 'change_friends' operation='remove' pk=friend.pk %}">
            <input type="submit" value="Remove Friend" />
        </form>
    </a>
{% endfor %}
{% endblock content %}