<form method ='GET' action=''>
    <input type ='text' name='username' placeholder='Search by Username' />
    <input type='submit' value='Search' />
</form>


<form>
  <input type="checkbox" name="language" value="on"> Language <br>
  <input type="checkbox" name="age" value="on"> Age <br>
    <input type='submit' value='Search' />
</form>

{% for user in users %}
    <a href="{% url 'profile_with_pk' pk=user.pk %}">
        <p>{{ user.username }}</p>
    </a>
    {% if user not in friends %}
        <form action="{% url 'change_friends' operation='add' pk=user.pk %}">
            <button>Add Friend</button>
        </form>
    {% endif %}
{% endfor %}

